<!doctype html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>

    <div class="container-flow modalWindow">
        <div class="row">
            <div class="col-md-12">
                <% if(error){%>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <% if(message){%>
                    <div class="alert alert-primary" role="alert">
                        <%= message %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

        <% if(currentPage) { %>
            <%- include(currentPage);%>
        <% } %>


    <%- include('partials/footer')%>

</body>
</html>